@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.titleContainer{
    background-color: rgba(62,62,62,.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.title{
    user-select: none;
    cursor: pointer;
    font-family: "Unbounded";
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 2.5rem;
    color: #085091;
}

.titleContainer button{
    height: 2.7rem;
    width: 7rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
}

.titleContainer button:hover{
    background-color: white;
    color: black;
    border: none;
}

.titleContainer img{
    width: 7rem;
}

.section{
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionTitle{
    text-align: center;
    margin-top: 3rem;
    width: 100%;
    color: #404040E6;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(62,62,62,.3);
}

.serviceContainer{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.service img{
    width: 100%;
    height: 85%;
    border-radius: 10px;
    padding-bottom: .3rem;
}

.service{
    border-radius: 20px;
    position: relative;
    padding-bottom: .5rem;
}



.service h1{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: .2rem;
    width: 100%;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #404040E6;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
}


.footer{
    padding-top: 3rem;
    width: 100%;
    background-color: rgba(62,62,62,.06);
    text-align: center;
}

.footer h1{
    color: #404040D9;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 30px;
}

.socialsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
}

@media (max-width: 600px){
    .titleContainer{
        padding: 1rem 1.5rem; 
    }

    .serviceContainer{
        grid-template-columns: repeat(2, 1fr);
    }

    .section{
        padding: 0;
    }

    .service h1{
        font-size: 14px;
        margin: 0;
    }
}


@media (max-width: 900px){

    .serviceContainer{
        grid-template-columns: repeat(2, 1fr);
    }

    
}
